.form__container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.form__title {
  text-align: center;
  font-family: "Comfortaa", cursive;
  margin-top: 75px;
  color: #353535;
  font-size: 30px;
}

.form__label {
  font-family: "Comfortaa", cursive;
  color: #353535;
  font-size: 20px;
  margin-bottom: 10px;
}

.form__input {
  border: none;
  font-size: 20px;
  color: #353535;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 33px;
  padding-left: 10px;
}

.form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.form__text {
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  color: #284B63;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.form__link {
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  color: #284B63;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
}

.hidden {
  display: none;
}

.btn {
  background-color: #284B63;
  border: none;
  font-family: "Comfortaa", cursive;
  color: #FFFFFF;
  font-size: 20px;
  border-radius: 10px;
  padding: 12px 24px 12px 24px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.btn--form {
  margin-top: 25px;
}

.btn--send {
  margin-top: 20px;
}

footer {
  background-color: #3c6e71;
  margin-top: 100px;
}

.menu {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  gap: 10%;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.menu__link {
  text-decoration: none;
  color: #353535;
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-size: 14px;
}

.menu__img {
  width: 50px;
}

.sendCoins {
  margin-top: 50px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.sendCoins__label {
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-size: 20px;
}

.sendCoins__input {
  border: none;
  font-size: 20px;
  color: #353535;
  border-radius: 10px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.sendCoins__input--amount {
  width: 10%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
}

.title {
  text-align: center;
  font-family: "Comfortaa", cursive;
  margin-top: 75px;
  color: #353535;
  font-size: 30px;
}

.intertitle {
  text-align: center;
  font-family: "Comfortaa", cursive;
  margin-top: 75px;
  color: #353535;
  font-size: 20px;
}

.intertitle--recent {
  text-align: left;
  margin-left: 20%;
}

.userAmount {
  text-align: center;
  font-family: "Comfortaa", cursive;
  color: #3c6e71;
  font-size: 20px;
  margin-top: 20px;
}

.recent__container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.recent__name {
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  color: #353535;
}

.recent__amount {
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  color: #284B63;
  grid-column-start: 3;
}

.recent__list {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.recent {
  display: grid;
  justify-content: center;
  margin-bottom: 20px;
  grid-template-columns: 1fr 7fr 1fr;
}

.current {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
