@import '../colors';
@import '../fonts';
@import '../spacing';

.btn{
    background-color: $indigo;
    border:none;
    font-family: $fontImdcoin;
    color: $white;
    font-size: $plainText;
    border-radius: $small;
    padding:12px 24px 12px 24px;
    text-decoration:none;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
   
}



