@import '../colors';
@import '../fonts';

footer{
    
    background-color: $ming;
    
}

.menu{
    display:flex;
    flex-direction: row;
    margin-left:auto;
    margin-right:auto;
    width:80%;
    gap: 10%;
    justify-content:center;
    padding-top:2%;
    padding-bottom:2%;
}

.menu__link{
    text-decoration:none;
    color: $jet;
    text-align:center;
    font-family: $fontImdcoin;
    font-size: $remark;
}

.menu__img{
    width:50px;
}