@import '../fonts';
@import '../colors';
@import '../spacing';



.form{
    margin-top: $xl;
    display:flex;
    flex-direction: column;
    
}

.form__label{
    font-family: $fontImdcoin;
    color: $jet;
    font-size: $plainText;
    margin-bottom: $small;
}

.form__input{
    border:none;
    font-size: $plainText;
    color: $jet;
    border-radius: $small;
    margin-bottom: $med;
    height: $lg;
    padding-left: $small;
}



.form__text{
    font-family: $fontImdcoin;
    font-size: $plainText;
    color: $indigo;
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
}

.form__link{
    font-family: $fontImdcoin;
    font-size: $plainText;
    color: $indigo;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
}

.form__alert{
    text-align:center;
    margin-top: $small;
    margin-bottom: $lg;
    font-size: $plainText;
    font-family: $fontImdcoin;
    color: $brick;

}



.hidden{
    display:none;
}


