@import '../fonts';
@import '../colors';
@import '../spacing';

.transactions{
    margin-top: $xl;
}

.transactions__title{
    text-align:center;
    font-family: $fontImdcoin;
    margin-top: $xl;
    color: $jet;
    font-size:$plainText;
}

.transactions__list{
    width:60%;
    margin-left:auto;
    margin-right:auto;
    margin-top: $med;
    display:flex;
    flex-direction: column-reverse;
    padding-bottom: $xxl;
}

.transactions__item{
    display: grid;
    justify-content:center;
    margin-bottom: $med;
    grid-template-columns: 1fr 7fr 1fr;
}

.transaction__item__name{
    font-family: $fontImdcoin;
    font-size:$plainText;
    color:$jet;
}

.transaction__item__amount{
    font-family: $fontImdcoin;
    font-size:$plainText;
    color:$indigo;
    grid-column-start: 3;
}