@import '../fonts';
@import '../colors';
@import '../spacing';


.transfer{
    width:60%;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction: column;

}

.transfer__label{
    text-align:center;
    font-family: $fontImdcoin;
    font-size:$plainText;
    margin-top: $lg;
    padding-bottom: $small;
}

.transfer__input{
    border:none;
    font-size: $plainText;
    color: $jet;
    border-radius: 10px;
    width:60%;
    margin-left:auto;
    margin-right:auto;
}

.transfer__input--amount{
    width:30%;
}

.transfer__btn{
    margin-top: $xl;
    display:flex;
}