@import 'components/form.scss';
@import 'components/buttons';
@import 'components/footer';
@import 'components/wallet';
@import 'components/transactions';
@import 'components/table';
@import './colors';
@import './spacing';

*{
    box-sizing: border-box;
    
}

body{
    background-color: $cultured;
    min-height: 100%;
}

.container{
    margin-top: $xl;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: $xl;
}

.title{
    text-align:center;
    font-family: $fontImdcoin;
    margin-top: 75px;
    color: $jet;
    font-size:$title;
}

@media(min-width:800px){
    .container{
        width:40%;
    }
}




